.contextmenu {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: white;
    z-index: 3;
}

.contextMenuList {
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}

.contextMenuListItem {
    padding: 5px;
}

.contextMenuListItem:hover {
    background: #e6e6e6;
}
