<div class="contextmenu" id="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <div *ngIf="context === 'root'">
      <ul class="contextMenuList">
        <li class="contextMenuListItem" oncontextmenu="return false;" (click)="newFolder(context)"><div> New folder </div></li>
        <li class="contextMenuListItem" oncontextmenu="return false;" (click)="newFile(context)"><div> New file </div></li>
      </ul>
  </div>

  <div *ngIf="context === 'folder'">
      <ul class="contextMenuList">
        <li class="contextMenuListItem" oncontextmenu="return false;" (click)="newFolder(item)"><div> New folder </div></li>
        <li class="contextMenuListItem" oncontextmenu="return false;" (click)="newFile(item)"><div> New file </div></li>
      </ul>
  </div>


  <div *ngIf="context === 'file'">
      <ul class="contextMenuList">
        <li class="contextMenuListItem"><div> Rename file </div></li>
        <li class="contextMenuListItem"><div> Delete file </div></li>
      </ul>
  </div>  
</div>
