<div class="fileTreeContainer" id="fileTree" *ngIf="folders$ || files$" (click)="disablecontextmenu()" oncontextmenu="return false;" 
      (contextmenu)="onrightclick($event, folder, 'root')">
  <ul class="fileTree">
    <ng-template #tree>
      <ng-container *ngFor="let folder of folders$ | async">
        <ng-container class="list" *ngIf="folder.parent === '/'">
          <ng-container *ngIf="folder.name === ''">
              <app-create-folder></app-create-folder>
          </ng-container>

          <ng-container *ngIf="folder.name !== ''">
            <div class="treeBtn" (click)="toggleFolder(folder)" oncontextmenu="return false;" (contextmenu)="onrightclick($event, folder, 'folder')"> 
              <ng-container *ngIf="!folder.show">
                    &#9658; {{ folder.name }} 
              </ng-container>

              <ng-container *ngIf="folder.show">
                  &#9660; {{ folder.name }} 
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngIf="folder.show">
            <ul class="subTree" *ngIf="folder.folders.length > 0 || folder.files.length > 0">
                <ng-container *ngTemplateOutlet="tree2; context:{ $implicit: folder }"></ng-container>
            </ul>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let file of files$ | async">
        <ng-container class="list" *ngIf="file.parent === '/'">
          <ng-container *ngIf="file.name === ''">
            <app-create-file></app-create-file>
          </ng-container>
  
          <ng-container *ngIf="file.name !== ''">
            <div class="treeBtn" *ngIf="file.parent === '/'" oncontextmenu="return false;" (contextmenu)="onrightclick($event, file, 'file')">
              {{ file.name }}
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  
    <ng-template #tree2 let-folder>
      <ng-container *ngFor="let subfolder of folder.folders">
        <ng-container *ngIf="subfolder.name === ''">
            <app-create-folder [parent]="item"></app-create-folder>
        </ng-container>

        <ng-container *ngIf="subfolder.name !== ''">
          <div (click)="toggleFolder(subfolder)" oncontextmenu="return false;" (contextmenu)="onrightclick($event, subfolder, 'folder')"> 
            <ng-container *ngIf="!subfolder.show">
                &#9658; {{ subfolder.name }} 
            </ng-container>
  
            <ng-container *ngIf="subfolder.show">
                &#9660; {{ subfolder.name }} 
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="subfolder.show">
          <ul class="subTree" *ngIf="subfolder.folders.length > 0 || subfolder.files.length > 0">
            <ng-container *ngTemplateOutlet="tree2; context:{ $implicit: subfolder }"></ng-container>
          </ul>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let file of folder.files">
        <ng-container *ngIf="file.name === ''">
          <app-create-file [parent]="item"></app-create-file>
        </ng-container>

        <ng-container *ngIf="file.name !== ''">
          <div oncontextmenu="return false;" (contextmenu)="onrightclick($event, file, 'file')">
            {{ file.name }}
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
  
    <ng-container *ngTemplateOutlet="tree; context:{ $implicit: folders$ }"></ng-container>
  </ul>
</div>

<div class="contextMenuContainer" *ngIf="contextMenu$ | async">
  <app-context-menu [x]="contextmenuX" [y]="contextmenuY" [context]="context" [item]="item"></app-context-menu>
</div>