.file {
    color: red;
}

.folder {
    color: blue;
}

.no-bullet {
    /* list-style-type: none; */
    width: 100%;
}

.list {
    display: block;
}

.fileTreeContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff;
}

.fileTree {
    display: inline-block;
    width: 70%;
    top: 0px;
    padding: 10px;
    margin: 0px;
}

.treeBtn {
    text-align: left;
}

.treeBtn:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.subTree:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.optionMenu {
    display: none;
    border: 1px solid black;
    background: white;
}

.optionList {
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}

.optionListItems {
    padding: 5px;
}

.optionListItems:hover {
    background: #e6e6e6;
}

.createFolder {
    display: none;
}

.contextMenuContainer {
    position: fixed;
    height: 500px;
    z-index: 3;
}
