/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

div {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(243, 230, 255);
}

input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

mat-toolbar {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 64px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

button {
  cursor: pointer;
  color: #FFF;
}

.flex-spacer {
  flex: 1 1 auto;
}

.logo {
  cursor: pointer;
  font-size: 25px;
}

.logo:hover /deep/ .mat-button-focus-overlay{
  background-color: transparent;
}

nav a {
  position: relative;
  color: #FFF;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
}

/* nav a:visited, a:link {
} */

nav a:hover {
  color: rgb(230, 230, 230);
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


