<div></div>

<mat-toolbar color="primary">
  <a button mat-icon-button (click)="toggleSidenav()">
    <mat-icon icon svgIcon="menu"></mat-icon>
  </a>
  
  <a button mat-button class="logo" href="/" disableRipple=true>Ryan Teo</a>

  <nav>
      <!-- <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a> -->
      <!-- <a routerLink="/test-page" routerLinkActive="active">Test Page</a>
      <a routerLink="/test-page2" routerLinkActive="active">Test Page 2</a>
      <a routerLink="/test-page3" routerLinkActive="active">Test Page 3</a> -->
  </nav>

  <span class="flex-spacer"></span>

  <a button mat-icon-button href="https://github.com/ryanteo96">
      <mat-icon svgIcon="github-circle"></mat-icon>
  </a>

  <a button mat-icon-button href="https://www.linkedin.com/in/ryanteo96/">
      <mat-icon svgIcon="linkedin-box"></mat-icon>
  </a>
</mat-toolbar>

<app-sidenav></app-sidenav>

<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>Hello Ryan!</h1>
</div> -->
