<mat-sidenav-container class="sidenav">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <nav>
            <a routerLink="/about" routerLinkActive="active">About Me</a>
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
            <a routerLink="/blog" routerLinkActive="active">Blog</a>
            <a routerLink="/resume" routerLinkActive="active">Resume</a>
            <a routerLink="/testing" routerLinkActive="active">Testing</a>
                        
            <!-- <a routerLink="/test-page" routerLinkActive="active">Test Page</a>
            <a routerLink="/test-page2" routerLinkActive="active">Test Page 2</a>
            <a routerLink="/test-page3" routerLinkActive="active">Test Page 3</a> -->
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>