mat-sidenav-container {
    position:relative;
    top:64px;
    display:block;
    box-sizing: border-box;
    min-height: 100%;
    height: auto!important;
    overflow: hidden!important;
    transform: none;
    background-color: rgb(243, 230, 255);
}

mat-sidenav {
    position: fixed;
    padding: 5px;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    top: 64px;
    bottom: 0;
    left: 0;
    min-width: 200px;
}

mat-sidenav-content {
    position: relative;
    display: block;
    overflow:hidden;
    background-color: rgb(243, 230, 255);
}

nav a {
    position: relative;
    padding: 5px 25px;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    color: rgb(71, 71, 107);
    text-decoration-line: none;
}

nav a:visited {
    color: rgb(71, 71, 107);
}

nav a:hover {
    background-color: #EEE;
    border-radius: 4px;
}

nav a.active {
    color: rgb(77, 0, 153);
    background-color: #EEE;
    border-radius: 4px;
}